	body {	overflow:hidden;
	}
	
	@media (min-width: 1000px) {
		body { font-size: 600%; }
	}
	
	@media (max-width: 1000px) {
		body { font-size: 400%; }	
	}
	
	@media (max-width: 800px) {
		body { font-size: 300%; }	
	}
	
	@media (max-width: 400px) {
		body { font-size: 140%; }	
	}


.coffee {
    font-family:'Pacifico', serif;
    margin: 5px;
	text-align: center; 
	color: #2c3138; 
	}

.link_bar {
    margin: 5px;
    font-family:'MuseoModerno', serif; 
    font-size:20%; 
    text-align: center; 
    color: #2c3138;  
	}
    #link_bar a:link { color:#2c3138;  
	}
    #link_bar a:visited { color:#2c3138;
	}
    #link_bar a:hover { color:#8c3300; 
	}
    #link_bar a:active { color:#2c3138;
	}
	
	
	
.social {
    margin: 5px;
	text-align: center; 
	color: #2c3138;
}
.fa {
	  padding: 5px;
	  font-size: 30px;
	  width: 30px;
	  text-align: center;
	  text-decoration: none;
	  border-radius: 50%;
	}

	.fa:hover {
		opacity: 0.7;
	}

	.fa-facebook {
	  background: #2c3138;
	  color: white;
	}

	.fa-google {
	  background: #2c3138;
	  color: white;
	}

	.fa-instagram {
	  background: #2c3138;
	  color: white;
	}
#loadOverlay{display: none;}

